* {
  padding: 0;
  margin: 0;
}

body {
  padding: 4%;
  background-color: #e1b1ff;
  font-family: 'Leckerli One', cursive;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
}

main {
  padding: 2% 7%;
  margin-top: 50px;
}

li {
  list-style: none;
}

input {
  margin-bottom: 16px;
}

button {
  width: 10rem;
  box-shadow: 2px 2px;
}

button:hover {
  background-color: white;
}

button:focus {
  background-color: cadetblue;
}

.b-radius {
  border-radius: 7px;
}

.thick-border {
  border: 3px solid black;
}

.d-flex {
  display: flex;
}

.heading {
  margin-bottom: 20px;
}

.list {
  flex: 6;
}

.l-height-2x {
  line-height: 2;
}

.single-list-item:nth-child(odd) {
  background-color: white;
}

#root > li:first-child {
  animation: blinker 1s linear infinite;
  background-color: rgb(188, 246, 130);
  color: red;
}

.list-heading {
  justify-content: space-between;
}

.user-name {
  padding: 5%;
}

#list-form {
  flex-direction: column;
  flex: 4;
  margin-left: 80px;
}

#submit {
  align-self: flex-end;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 675px) {
  body {
    text-align: center;
  }

  main {
    flex-direction: column;
    margin-top: 20px;
  }

  header > h3 {
    margin-bottom: 16px;
  }

  .list-heading {
    flex-direction: column;
  }

  #list-form {
    margin-top: 50px;
    margin-left: 0;
  }

  #refresh,
  #submit {
    align-self: center;
  }
}
