* {
  padding: 0;
  margin: 0;
}

body {
  padding: 10%;
}

main {
  justify-content: space-around;
}

li {
  list-style: none;
}

.d-flex {
  display: flex;
}

.single-list-item {
  line-height: 1.5;
}

.single-list-item:nth-child(odd) {
  background-color: rgb(213, 219, 219);
}

.user-name {
  padding: 10%;
}

#root {
  border: 3px solid black;
}

#list-form {
  flex-direction: column;
}
